<p id="notice"><%= notice %></p>

<h1>All Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Module</th>
      <th>Week</th>
      <th>Assignment Name</th>
      <th>Source</th>
      <th>Link</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.course_week.course_module.module_num %></td>
        <td><%= assignment.course_week.week_num %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.assignment_source %></td>
        <td><%= link_to assignment.assignment_file, asset_path(assignment.assignment_file), target: '_blank' %></td>

        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
