<h1>Module Two</h1>


<h2>Week Five</h2>
<table>
  <thead>
  <tr>
    <th>Assignment Name</th>
    <th>Source</th>
    <th>Link</th>
  </tr>
  </thead>

  <tbody>
  <% @w5assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assignment_source %></td>
        <td><%= link_to assignment.assignment_file, asset_path(assignment.assignment_file), target: '_blank' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h2>Week Six</h2>
<table>
  <thead>
  <tr>
    <th>Assignment Name</th>
    <th>Source</th>
    <th>Link</th>
  </tr>
  </thead>

  <tbody>
  <% @w6assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assignment_source %></td>
        <td><%= link_to assignment.assignment_file, asset_path(assignment.assignment_file), target: '_blank' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<h2>Week Seven</h2>
<table>
  <thead>
  <tr>
    <th>Assignment Name</th>
    <th>Source</th>
    <th>Link</th>
  </tr>
  </thead>

  <tbody>
  <% @w7assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.assignment_source %></td>
        <td><%= link_to assignment.assignment_file, asset_path(assignment.assignment_file), target: '_blank' %></td>
      </tr>
  <% end %>
  </tbody>
</table>